<!--
  Generated template for the ListaDependentesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dependentes</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let dependente of dependentes | async" col-6>
        <ion-item (click)="selecionarDependente(dependente)">
          <div *ngIf="dependente.foto_perfil == null">
            <img src="https://ih1.redbubble.net/image.445781365.8284/flat,800x800,075,f.u2.jpg" />
          </div>
          <div *ngIf="dependente.foto_perfil != null">
            <img src="{{dependente.foto_perfil}}" />
          </div>
          <p>{{ dependente.nome }}</p>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item (click)="adicionarDependente(dependente)">
          <div>
            <ion-icon name="add" style="font-size:100px;"></ion-icon>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
