<!--
  Generated template for the cartao-vacinaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>cartao-vacina</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let cartao-vacina of cartao-vacina | async">
      <ion-item>
        <h1>{{ cartao-vacina.titulo }}</h1>
      </ion-item>
      <ion-item-options side="left">
        <div *ngIf="cartao-vacina.titulo != null">
          <button ion-button color="secondary" (click)="editar(cartao-vacina)">
            <ion-icon name="create"></ion-icon>
          </button>
        </div>
        <button ion-button color="danger" (click)="remove(cartao-vacina)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
